<div class="text-center">
  <h1 title="currency converter title">Currency converter</h1>
  <div class="m-3">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <app-currency-input-and-select
          [name] = "'From'"
          [color]="'bg-info'"
          [autoFocus]=true
          class="col-4"
        ></app-currency-input-and-select>
        <app-currency-input-and-select
          [name] = "'To'"
          [color]="'text-light bg-secondary'"
          [autoFocus]=false
          class="col-4"
        ></app-currency-input-and-select>
        <app-currency-table />
      </div>
    </div>
  </div>
</div>